.dashboard-label {
    color: #242424;
  }
  
  #container {
    border: #242424 1px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #242424;
    background-color: #ddd;
    min-width: 70vw;
    margin-bottom: 200px;
  }
  
  
  .reptile {
    margin-bottom: 10px;
    width: 100%;
    border-bottom: #242424 solid 1px;
  }
  
  
  .schedule-row {
    margin-bottom: 10px;
  }
  
  .schedule {
    margin-right: 10px;
  }