.home-div{
    display: flex;
    background-color: #242424;
    align-items: center;
    flex-direction:column;
    text-align: center;
    background-color: #ddd;
    border-radius: 10px;
    width: 75%;
    border: 1px solid #242424;
    box-shadow: 1px 1px 4px 1px #242424;
    max-width: 700px;
    margin-top: 200px;

}

.home-nav {
    padding: 5px;
    background-color: #ddd;
}
.button.home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px 5px 0px 5px;
}
.Nav-div {
    background-color: #242424;
}
hr {
    color: #eee;
    width: 100vw;
}
.title {
    color: #242424;
    padding: 5px;
    text-align: center;
}
.content {
    color: #242424;
    font-size: large;
    padding: 30px;
}
html{
    background-color: #242424;
}