.router-button{
    width: 170px;
    margin: 20px 10px 20px 10px;

}
.router-button-ctn{
    padding-bottom: 200px;
    padding-top: 50px;
}
h5{
    margin: 0px 20px 0px 20px;
}
h3{
    margin: 20px 20px 0px 20px;
}
.schedule-label{
    margin: 20px 20px 20px 20px;
}
.feed-label{
    margin: 20px 20px 20px 20px;
}
.styling{
    background-color: #ddd;
}
#schedule-container{
    margin: 20px 20px 20px 20px;
}
.service{
    margin-top: 25px;
}
.schedule-ctn{
    background-color: #ddd;
    border: 1px solid #242424;
    border-radius: 10px;
    padding: 20px;
    margin-top: 150px;
    box-shadow: 1px 1px 2px rgb(102, 0, 0);
}
#butt-on{
    margin-top: 55px;
}
#desc{
    margin-top: 25px;
}
#reptile-info{
    margin-bottom: 50px;
}
.containment{
    background-color: #ddd;
    border: 1px solid #242424;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 2px rgb(102, 0, 0);
}
.red{
    color: red;
}
.husbandry-ctn{
    height: 300px;
    border-bottom: 1px solid #242424;
    margin-bottom: 10px;
}
@media(min-width: 576px){
    .husbandry-ctn{
        height: 500px;
    }
}
@media(min-width:992px){
    .husbandry-ctn{
        height: 300px;
    }
}