.signin-form {
    display: flex;
    margin: 0;

    background-color: #ddd;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-width: 700px;  
    color: #242424;
    width: 100vw;
    margin-top: 10%;
    border: solid 1px #242424;
    box-shadow: 1px 1px 4px 1px #242424;
    border-radius: 10px;
  }
  .signin-form input {
    display: block;
  }
  .sigin-form button {
    display: block;
    width: fit-content;
  }
  .title {
    color: #242424;
  }
  #email{
    margin-bottom: 10px;
  }
  #password{
    margin-bottom: 10px;
  }